[data-aos="animationLeft"] {
    opacity: 0;
    transform :translateX(-30rem);
    transition-property: transform, opacity;
    
}
[data-aos="animationLeft"].aos-animate {
    opacity: 1;
    transform: translateX(0rem);

}
[data-aos="animationRight"] {
    opacity: 0;
    transform :translateX(30rem);
    transition-property: transform, opacity;
    
}
[data-aos="animationRight"].aos-animate {
    opacity: 1;
    transform: translateX(0rem);

}

[data-aos="animationTop"] {
    opacity: 0;
    transform :translateY(20rem);
    transition-property: transform, opacity;
    
}
[data-aos="animationTop"].aos-animate {
    opacity: 1;
    transform: translateY(0rem);

}
